<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Laisser un commentaire</h4>


        <form>
            <div class="form-group">
                <label for="">Nom</label>
                <input type="text" class="form-control" placeholder="Entrez votre nom">
            </div>

            <div class="form-group">
                <label for="">Commentaire</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect"  placeholder="Entrez votre commentaire..."></textarea>
            </div>

            <button class="btn btn-info btn-theme">Ajoutez</button>
        </form>
    </div>
</div>
