<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center">A propos de nous</h1>

        <div class="p-5 mt-4 bg-secondary-theme">
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi
            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Retour à l'accueil</button>
            </div>

        </div>
    </div>
</section>
