<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <div class="site-logo">BLOGGY</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a href="" class="nav-link">Accueil</a></li>
                        <li class="nav-item"> <a href="" class="nav-link">A propos</a></li>
                        <li class="nav-item"> <a href="" class="nav-link">Termes et conditions</a></li>
                        <li class="nav-item"> <a href="" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            
                <p class="mb-2 mt-2">Copyright © 2023 | Bloggy</p>

            </div>
        </div>      

    </div>
</footer>
