<div class="card">

    <img src="https://images.pexels.com/photos/4246448/pexels-photo-4246448.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Inpsirant</small>
        <small class="bg-light text-success text-center ml-3">En top</small>
        <small class="bg-light text-success text-center ml-3">Vues - 1 2391</small>

        <h5 class="mt-1">Vive l'automne</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla unde ullam consequuntur maxime, esse odio voluptatibus expedita magni rem. Beatae laboriosam doloremque nam alias sequi mollitia atque unde animi numquam!</p>

        <small class="bg-light text-success text-warning text-center ml-3 ">Dernier mise à jour - 11 octobre 2023</small>


    </div>
</div>